* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

nav {
    background: gray;
}

ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:nth-of-type(5) {
    margin-left: auto;
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: "work sans";
    display: inline-block;
    font-weight: bold;
}

nav a:hover {
    color: blue;
}

img {
    height: 2em;
}

nav .logo {
    font-size: 3em;
    padding: .2em;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 0;
}

#left-wrapper {
    justify-content: start;
}

#right-wrapper {
    justify-content: end;
}
.space-left {
    padding-left: 1em;
}

.space-right {
    padding-right: 1em;
}
/*the "Logo" text is 3em with .2em of padding above and below*/
/*logo is horizontally centered on the navbar (automatic margins will help achieve this)*/