* {box-sizing: border-box;}

body {
    display: flex;
    flex-direction: column;
}

.sub-section {
    font-style: italic;
}

.alert-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    width: 100%;
    height: 2em;
    background-color: lightblue;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 3em;
    margin: .5em auto 1em auto;
}

img {
    width: 100%
}

.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    background: lightgray;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: .5em;
    padding: 1em;
}

@media screen and (min-width: 768px) {
    .alert-info {
        display: none;
    }
}