#card-box {
    font-family: silkscreen;
}

.card {
    background-color: #8bac0f;
    margin-left: .7em;
    width: 16em;
    height: 17em;
}

.card-body {
    height: 11em;
}

#logo {
    height: 60px;
}

.btn {
    background-color: #3c5aa6;
}

#gameboy {
    height: 30em;
    width: 18em;
    background-color: lightgrey;
}

p {
    margin: .25em;
}

#cross {
    background: black;
    height: 100px;
    position: relative;
    width: 25px;
    border-radius: 5px;
}

#cross:after {
    background: black;
    content: "";
    height: 25px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
    border-radius: 5px;
}

#cross-container {
    position: absolute;
    bottom: 60px;
    left: 108px;
}

.circle {
    width: 45px;
    height: 45px;
    position: relative;
    background: rebeccapurple;
    border: 2px solid black;
    border-radius: 50%;
}

#left-circle {
    top: 305px;
    left: 200px;
}

#right-circle {
    top: 315px;
    left: 160px;
}

#powerlight {
    width: 10px;
    height: 10px;
    background: red;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px red;
    margin-left: 4px;
}