body {
    background-image: url("img/texture-metalic.webp");
}

#card-box {
    font-family: silkscreen;
}

.bit-svg {
    height: 35px;
    margin: 0;
    padding: 0;
}

.card {
    background-color: #8bac0f;
    margin-left: .7em;
    width: 16em;
    height: 17em;
}

.card-body {
    height: 11em;
}

#logo {
    height: 60px;
}

.btn {
    background-color: #3c5aa6;
}

#gameboy {
    height: 30em;
    width: 18em;
    /*background-color: lightgrey;*/
}

p {
    margin: .25em;
}

#cross {
    background: black;
    height: 100px;
    position: relative;
    width: 25px;
    border-radius: 5px;
}

#cross:after {
    background: black;
    content: "";
    height: 25px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
    border-radius: 5px;
}

#cross-container {
    position: absolute;
    bottom: 60px;
    left: 120px;
}

.circle {
    width: 45px;
    height: 45px;
    position: relative;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
}

#left-circle {
    top: 305px;
    left: 210px;
}

#right-circle {
    top: 310px;
    left: 170px;
}

#powerlight {
    width: 10px;
    height: 10px;
    background: red;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px red;
    margin-left: 4px;
}

/*make text inset shadow */
h4:before {
    position: absolute;
    margin: 2px 0 0 2px;
    content: attr(title);
    color: #fff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
button {
    box-shadow: 0 2px #999;
}

button:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.red {
    background-color: red;
}

.teal {
    background-color: teal;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.gold {
    background-color: goldenrod;
}

.silver {
    background-color: silver;
}

.classic {
    background-color: lightgrey;
}

.codeup {
    background-image: url("img/green.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
}